@media (max-width: 768px) {



    h1 {
        position: absolute;
        margin-left: 2.3rem;
        margin-top: -5rem;
        font-size: 1.4rem;
    }

    #miFormulario {
        pointer-events: none;
       
        opacity: 0;
    }

    .fondoCal {
        opacity: 0;
    }

    p {
        
        margin-left: -0.5rem;
        margin-top: -1rem;
        font-size: 0.9rem;
        width: 20.6875rem;
height: 16.0625rem;
flex-shrink: 0;
text-align: center;
    }

    .botonCel {
        position: absolute;
        pointer-events: auto;
opacity: 100;
        margin-top: 27rem;
        margin-left: 2.1rem;
        width: 15.4375rem;
height: 3.3125rem;
flex-shrink: 0;
border-radius: 0.3125rem;
background: linear-gradient(90deg, #FE3271 0%, #FCA82E 100%);
color: #fff;
font-family: 'Montserrat', sans-serif;
font-size: 1.25rem;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
display: flex; 
  justify-content: center; 
  align-items: center;

    }

    h2 {
        position: absolute;
        margin-top: 38.5rem;
        font-size: 1rem;
        margin-left: 4.3rem;
    }

    h3{
        position: absolute;
        margin-top: 19.5rem;
        margin-left: -0.3rem; 
        font-size: 0.7rem;
        text-align: center;
        width: 20rem;

    }

    
}